$base-theme:Bootstrap;
$skin-name:indigo;
$swatch-name:Indigo;
$border-radius: 0.25rem;
$accent: #D7C5AB;
$secondary: #D7C5AB;
$info: #5bc0de;
$success: #5cb85c;
$warning: #f0ad4e;
$error: #d9534f;
$body-bg: #100E09;
$body-color: #ffffff;
$component-bg: #536182;
$component-color: #ffeab0;
$card-cap-bg: #465372;
$card-cap-color: #ffeab0;
$series-a: #f5d9b5;
$series-b: #5bc0de;
$series-c: #0275d8;
$series-d: #f0ad4e;
$series-e: #e67d4a;
$series-f: #d9534f;


$buttonColor:#D7C5AB;
$buttonColorToucht:#D7C5AB;