<FlexboxLayout flexDirection="column" alignItems="center" justifyContent="center" [formGroup]="formData">

    <FlexboxLayout flexDirection="row" justifyContent="center" alignContent="center" class="label-size">
        <Label text="Liczba osób" class="size"></Label>
    </FlexboxLayout>

    <FlexboxLayout flexDirection="row" justifyContent="center" alignContent="center" class="qua-form">
        <FlexboxLayout flexDirection="row" alignItems="center" justifyContent="center" (tap)="qSize('minus')"
                       class="bt-qua">
            <Label>
                <FormattedString>
                    <Span text="&#xf068;" class="fas"></Span>
                </FormattedString>
            </Label>
        </FlexboxLayout>
        <TextField editable="false" keyboardType="integer" formControlName="reservationSize">
        </TextField>
        <FlexboxLayout flexDirection="row" alignItems="center" justifyContent="center" (tap)="qSize('plus')"
                       class="bt-qua">
            <Label>
                <FormattedString>
                    <Span text="&#xf067;" class="fas"></Span>
                </FormattedString>
            </Label>
        </FlexboxLayout>
    </FlexboxLayout>


    <GridLayout rows="50,50">
        <Button (tap)="setSize()" class="set-bt" text="Zmień" row="0"></Button>
        <Button (tap)="unsetSize()" class="unset-bt" text="Pozostaw" row="1"></Button>
    </GridLayout>

</FlexboxLayout>