Button.btn-add {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #504426 !important;
    color: #ffffff;
}

HtmlView.htmlLabel {
    font-size: 14;
}

// FlexboxLayout.row-list {
//     padding-top: 20;
//     padding-bottom: 20;
// }

// FlexboxLayout.row-list.added {
//     background-color: #504426;
// }