<RadSideDrawer
               tkExampleTitle
               tkToggleNavButton
               [drawerLocation]="'Right'"
               [drawerContentSize]="300"
               [ngClass]="{'phone': device.deviceType=='Phone', 'table':device.deviceType=='Tablet'}">
    <StackLayout tkDrawerContent>
        <GridLayout class="sideStackLayout">
            <app-menu-view
                           [tokenUser]="tokenUser"
                           [name]="'Statystyki'"></app-menu-view>
        </GridLayout>
    </StackLayout>
    <StackLayout tkMainContent>
        <GridLayout class="page" [rows]="'50,*'">
            <GridLayout row="0" columns="auto,*,60">
                <FlexboxLayout
                               column="0"
                               flexDirection="row"
                               alignItems="center"
                               justifyContent="center">
                    <Button (tap)="changeDay()" class="change-day-bt">
                        <FormattedString>
                            <Span text="&#xf783;" class="fas"></Span>
                            <Span text=" "></Span>
                            <Span [text]="currentDay | date: 'dd.MM.yyyy'"></Span>
                        </FormattedString>
                    </Button>
                </FlexboxLayout>
                <FlexboxLayout column="2">
                    <Button class="burger" (tap)="openMenu()">
                        <FormattedString>
                            <Span text="&#xf0c9;" class="fas"></Span>
                        </FormattedString>
                    </Button>
                </FlexboxLayout>
            </GridLayout>
            <StackLayout row="1" orientation="horizontal" width="100%">
                <app-loading-absolute [busy]="loadingStats"></app-loading-absolute>
                <GridLayout [rows]="statsGrid">
                    <StackLayout row="0">
                        <FlexboxLayout [flexDirection]="statsHeadData" class="w-100" justifyContent="space-between" alignItems="flex-end">

                            <FlexboxLayout [flexDirection]="'row'">
                                <FlexboxLayout alignItems="flex-end" class="price-flex p-10" flexDirection="column" justifyContent="flex-end">
                                    <Label [text]="'Ilość: '+data.totalCount+' szt.'" class="total-szt"></Label>
                                </FlexboxLayout>
                                <FlexboxLayout alignItems="flex-end" class="price-flex p-10" flexDirection="row" justifyContent="flex-end">
                                    <FlexboxLayout>
                                        <Label [text]="' Kwota: '" class="label-what"></Label>
                                    </FlexboxLayout>
                                    <FlexboxLayout flexDirection="column">
                                        <Label [text]="data.total + ' pln'" class="total-price" [ngClass]="{'throuth-line': data.total!=data.totalBonus}"></Label>
                                        <ng-container *ngIf="data.total!=data.totalBonus">
                                            <Label [text]="data.totalBonus + ' pln'" class="total-price"></Label>
                                        </ng-container>
                                    </FlexboxLayout>
                                </FlexboxLayout>
                            </FlexboxLayout>
                            <FlexboxLayout alignItems="flex-end" class="price-flex p-10" flexDirection="column" justifyContent="flex-end">
                                <Label [text]="' w tym kwota extra: '+data.extraPrice + ' pln'" class="total-extra"></Label>
                            </FlexboxLayout>
                            <FlexboxLayout alignItems="flex-end" class="price-flex p-10" flexDirection="column" justifyContent="flex-end">
                                <Label [text]="'- kupon(y): '+data.bonusCart.total.toFixed(2) + ' pln'" class="price-bonus"></Label>
                                <Label [text]="'- zniżki %: '+data.bonusPercent.total.toFixed(2) + ' pln'" class="price-bonus"></Label>
                            </FlexboxLayout>
                        </FlexboxLayout>

                    </StackLayout>
                    <ScrollView [height]="scrollHeight" row="1" (swipe)="onSwipeScreen($event)">
                        <WrapLayout orientation="horizontal" class="p-15">
                            <GridLayout columns="200,*" *ngFor="let item of data.bucketElements" class="list-elements">
                                <FlexboxLayout column="0">
                                    <FlexboxLayout flexDirection="column">
                                        <ng-container *ngFor="let n of item.names">
                                            <Label [text]="n" textWrap="true" [ngStyle]="{'font-size': fontSize+(item.doc_count*fontMultiplier)}"></Label>
                                        </ng-container>
                                    </FlexboxLayout>
                                </FlexboxLayout>
                                <FlexboxLayout column="1" flexDirection="column">
                                    <Label [text]="item.doc_count+'x'" [ngStyle]="{'font-size': fontSize+(item.doc_count*fontMultiplier)}" class="p-5"></Label>
                                    <Label textWrap="true" [ngStyle]="{'font-size': fontSize+(item.doc_count*fontMultiplier)}">
                                        <FormattedString>
                                            <Span [text]="item.plate+' x '"></Span>
                                            <Span text="&#xf2e7;" class="fas"></Span>
                                        </FormattedString>
                                    </Label>
                                    <Label textWrap="true" [ngStyle]="{'font-size': fontSize+(item.doc_count*fontMultiplier)}">
                                        <FormattedString>
                                            <Span [text]="item.pack+' x '"></Span>
                                            <Span text="&#xf49e;" class="fas"></Span>
                                        </FormattedString>
                                    </Label>
                                </FlexboxLayout>
                            </GridLayout>
                        </WrapLayout>
                    </ScrollView>
                </GridLayout>

            </StackLayout>
        </GridLayout>
    </StackLayout>
</RadSideDrawer>