<RadSideDrawer tkExampleTitle tkToggleNavButton [drawerContentSize]="drawerContentSize" [formGroup]="formCart"
               [drawerLocation]="drawerLocation" gesturesEnabled="false" [ngClass]="{'phone': device.deviceType=='Phone','tablet': device.deviceType!='Phone' }">
  <StackLayout tkDrawerContent>
    <GridLayout class="sideStackLayout" rows="*" columns="40,*" *ngIf="drawerLocation == 'Right'">
      <Button (touch)="closeDrawer()" class="drawer-close" row="0" column="0" height="100%">
        <FormattedString>
          <Span text="&#xf054;" class="fas"></Span>
        </FormattedString>
      </Button>
      <FlexboxLayout row="0" column="1" height="100%" width="100%">
        <app-menu-view [tokenUser]="tokenUser" [name]="'Menu'"></app-menu-view>
      </FlexboxLayout>
    </GridLayout>
    <GridLayout class="sideStackLayout" rows="*" columns="*,40" width="100%" *ngIf="drawerLocation == 'Left'">

      <StackLayout row="0" column="0">
        <app-loading-absolute [busy]="addInProgress"></app-loading-absolute>
        <TabView [selectedIndex]="selectedIndex" (selectedIndexChanged)="onSelectedIndexchanged($event)">
          <StackLayout *tabItem="{ title: 'Start' }">
            <ScrollView height="100%">
              <WrapLayout>
                <FlexboxLayout flexDirection="row" height="90" class="flex-bt" alignItems="center"
                               justifyContent="center"
                               [backgroundColor]="'#'+item.bgColor"
                               [ngStyle]="{'color': '#'+item.fontColor}"
                               width="50%"
                               *ngFor="let item of menuElementsFull;let i= index" (tap)="changeTab(i)">
                  <Label [text]="item.fullName" textTransform="uppercase" textWrap="true" textAlignment="center"></Label>
                </FlexboxLayout>
              </WrapLayout>
            </ScrollView>
          </StackLayout>
          <ng-container *ngFor="let mc of carts; let i = index">
            <GridLayout columns="40,*" *tabItem="{ title: mc.name }">
              <Button (tap)="toTabHome()" height="100%" class="return-home"
                      textTransform="uppercase"
                      column="0">
                <FormattedString>
                  <Span text="&#xf100;" class="fas"></Span>
                </FormattedString>
              </Button>
              <ScrollView height="100%" column="1">
                <WrapLayout>
                  <ng-container *ngFor="let item of mc.elements">
                    <ng-container [ngSwitch]="item.elementType">
                      <app-admin-element-one-name *ngSwitchCase="'one_name'" [element]="item"
                                                  (emitAdd)="addToCart($event)"> </app-admin-element-one-name>
                      <app-admin-element-many-names *ngSwitchCase="'many_names'" [element]="item"
                                                    (emitAdd)="addToCart($event)"> </app-admin-element-many-names>
                      <app-admin-element-desc-element *ngSwitchCase="'desc_elements'" [element]="item"
                                                      (emitAdd)="addToCart($event)"> </app-admin-element-desc-element>
                      <app-admin-element-config-price *ngSwitchCase="'config_price'" [element]="item"
                                                      (emitAdd)="addToCart($event)"> </app-admin-element-config-price>
                      <app-admin-element-config-steps-price *ngSwitchCase="'config_steps_price'" [element]="item"
                                                            (emitAdd)="addToCart($event)"></app-admin-element-config-steps-price>
                      <app-admin-element-config-steps-price-many *ngSwitchCase="'config_steps_price_many'" [element]="item"
                                                                 (emitAdd)="addToCart($event)"></app-admin-element-config-steps-price-many>
                    </ng-container>
                  </ng-container>
                </WrapLayout>
              </ScrollView>
            </GridLayout>
          </ng-container>
        </TabView>
      </StackLayout>

      <Button (touch)="closeDrawer()" class="drawer-close" row="0" column="1" height="100%">
        <FormattedString>
          <Span text="&#xf053;" class="fas"></Span>
        </FormattedString>
      </Button>

    </GridLayout>
  </StackLayout>
  <StackLayout tkMainContent>
    <GridLayout class="page" rows="50,*,auto">
      <StackLayout row="0" orientation="horizontal" class="navi-beam">
        <FlexboxLayout flexDirection="row" justifyContent="space-between" class="w-100">
          <FlexboxLayout alignItems="center" justifyContent="center" class="cart-bt" width="200"
                         (touch)="openMenuDrawer('Left')">
            <Label class="trash">
              <FormattedString>
                <Span text="&#xf217;" class="fas"></Span>
              </FormattedString>
            </Label>
            <Label class="cart-count" [text]="'  ' + dishes + ' dań'"> </Label>
            <Label class="price" [text]="'  ' + total + ' pln'"> </Label>
          </FlexboxLayout>
          <Button class="special-bt" (tap)="addSpecial()">
            <FormattedString>
              <Span text="&#xf12e;" class="fas"></Span>
            </FormattedString>
          </Button>
          <Button class="reserve-bt" (tap)="gotToReserve()">
            <FormattedString>
              <Span text="&#xf46d;" class="fas"></Span>
            </FormattedString>
          </Button>
          <Button (tap)="clearFromButton()" class="clear-bt" width="50"
                  *ngIf="cart.length > 0">
            <FormattedString>
              <Span text="&#xf12d;" class="fas"></Span>
            </FormattedString>
          </Button>
          <Button (touch)="openDrawer('Right')" alignItems="center" width="50" justifyContent="center" class="burger">
            <FormattedString>
              <Span text="&#xf0c9;" class="fas"></Span>
            </FormattedString>
          </Button>
        </FlexboxLayout>
      </StackLayout>
      <StackLayout row="1" orientation="horizontal" width="100%">
        <app-route-loading></app-route-loading>
        <ng-template #dynamo></ng-template>
        <ScrollView orientation="vertical" width="100%" height="100%">
          <FlexboxLayout flexDirection="column" justifyContent="flex-start" class="p-10">
            <FlexboxLayout flexDirection="column" justifyContent="flex-start" alignItems="flex-start"
                           class="row-cart" *ngFor="let g of cartGroups; let i = index"
                           [ngClass]="{ 'd-none': g.elements.length == 0 }" [ngStyle]="{'background-color': '#'+g.type.bgColor}">
              <FlexboxLayout flexDirection="column" justifyContent="flex-start" class="row-group-t">
                <Label [text]="g.type.name" class="group-title"></Label>
              </FlexboxLayout>
              <FlexboxLayout flexDirection="row" justifyContent="flex-start" class="elements-list"
                             *ngFor="let el of g.elements;let oi=index" [ngClass]="{ 'row-group': true }">
                <FlexboxLayout flexDirection="column" justifyContent="flex-start" class="data-el-l">
                  <app-cart-row-admin [cartEl]="el" (emitChange)="updateCart($event)" (emitRemove)="remove($event)" [plusCartCategories]="plusCartCategories" [appConfig]="appConfig"
                                      [elementOptions]="elementOptions" [offsetIndex]="oi">
                  </app-cart-row-admin>
                </FlexboxLayout>
              </FlexboxLayout>
            </FlexboxLayout>
          </FlexboxLayout>
        </ScrollView>
      </StackLayout>
      <StackLayout row="2" orientation="horizontal" class="">
        <FlexboxLayout flexDirection="row" flexWrap="wrap" class="w-100 p-5">

          <FlexboxLayout flexDirection="row" alignItems="center" [justifyContent]="buttonsBottomMenu" flexWrap="wrap" class="w-100">

            <FlexboxLayout (tap)="chooseAction()" alignItems="center" height="40" margin="0" class="details-bt" *ngIf="actionType == 'onSite'">
              <Label>
                <FormattedString>
                  <Span text="&#xf2e7;" class="fas"></Span>
                  <Span [text]="'  '"></Span>
                  <Span [text]="actionType | actionName"></Span>
                </FormattedString>
              </Label>
            </FlexboxLayout>

            <FlexboxLayout (tap)="chooseAction()" alignItems="center" height="40" margin="0" class="details-bt" *ngIf="actionType == 'takeAway'">
              <Label>
                <FormattedString>
                  <Span text="&#xf49e;" class="fas"></Span>
                  <Span [text]="'  '"></Span>
                  <Span [text]="actionType | actionName"></Span>
                </FormattedString>
              </Label>
            </FlexboxLayout>

            <FlexboxLayout height="40" margin="0" alignItems="center" class="details-bt" *ngIf="onOnePlate" (tap)="setOnePlate()">
              <Image src="~/images/plate.png" width="20" class="image-elems" loadMode="async" *ngIf="onOnePlate"></Image>
              <Label>
                <FormattedString>
                  <Span [text]="'1 talerz'"></Span>
                </FormattedString>
              </Label>
            </FlexboxLayout>

            <FlexboxLayout height="40" margin="0" alignItems="center" class="details-bt" *ngIf="!onOnePlate" (tap)="setOnePlate()">
              <Image src="~/images/plates.png" width="20" class="image-elems" loadMode="async" *ngIf="!onOnePlate"></Image>
              <Label>
                <FormattedString>
                  <Span [text]="'wiele'"></Span>
                </FormattedString>
              </Label>

            </FlexboxLayout>
            <FlexboxLayout (tap)="chooseDay()" alignItems="center" height="40" margin="0" class="details-bt">

              <Label>
                <FormattedString>
                  <Span text="&#xf783;" class="fas"></Span>
                  <Span text=" Dzień"></Span>
                </FormattedString>
              </Label>

            </FlexboxLayout>
            <FlexboxLayout (tap)="chooseTime()" alignItems="center" height="40" margin="0" class="details-bt">

              <Label>
                <FormattedString>
                  <Span text="&#xf017;" class="fas"></Span>
                  <Span text=" Godzina"></Span>
                </FormattedString>
              </Label>

            </FlexboxLayout>


            <FlexboxLayout alignItems="center" height="40" class="info-bt" (tap)="setEditInfo()">
              <Label>
                <FormattedString>
                  <Span text="&#xf129;" class="fas"></Span>
                  <!-- <Span text="&#xf507;" class="fas"></Span>
                  <Span text="  "></Span>
                  <Span text="&#xf098;" class="fas"></Span>
                  <Span text="  "></Span>
                  <Span text="&#xf10e;" class="fas"></Span> -->
                  <Span text="  Dod. info."></Span>
                </FormattedString>
              </Label>
            </FlexboxLayout>

            <FlexboxLayout (tap)="makeReservation()" alignItems="center" height="40" margin="0" class="details-bt" *ngIf="reservation">
              <Label>
                <FormattedString>
                  <Span text="&#xf14a;" class="far"></Span>
                  <Span text=" Rezerw."></Span>
                </FormattedString>
              </Label>

            </FlexboxLayout>
            <FlexboxLayout (tap)="makeReservation()" alignItems="center" height="40" margin="0" class="details-bt" *ngIf="!reservation">
              <Label>
                <FormattedString>
                  <Span text="&#xf0c8;" class="far"></Span>
                  <Span text=" Rezerw."></Span>
                </FormattedString>
              </Label>
            </FlexboxLayout>


            <Label *ngIf="readyDate" [text]="readyDate | date: 'dd.MM.yy'" class="day-label"></Label>
            <Label *ngIf="readyDate" [text]="readyDate | date: 'HH:mm:ss'" class="time-label"></Label>
            <FlexboxLayout (tap)="clearTime()" alignItems="center" height="40" margin="0" class="details-bt" *ngIf="readyDate">
              <Label>
                <FormattedString>
                  <Span text="&#xf12d;" class="fas"></Span>
                </FormattedString>
              </Label>
            </FlexboxLayout>
            <FlexboxLayout (tap)="setTimeOrder(10)" alignItems="center" height="40" margin="0" class="details-bt"
                           *ngIf="!readyDate">

              <Label>
                <FormattedString>
                  <Span text="&#xf067;" class="fas"></Span>
                  <Span text=" 10min"></Span>
                </FormattedString>
              </Label>

            </FlexboxLayout>
            <FlexboxLayout (tap)="setTimeOrder(15)" alignItems="center" height="40" margin="0" class="details-bt"
                           *ngIf="!readyDate">
              <Label>
                <FormattedString>
                  <Span text="&#xf067;" class="fas"></Span>
                  <Span text=" 15min"></Span>
                </FormattedString>
              </Label>
            </FlexboxLayout>
            <FlexboxLayout (tap)="setTimeOrder(20)" alignItems="center" height="40" margin="0" class="details-bt" *ngIf="!readyDate">
              <Label>
                <FormattedString>
                  <Span text="&#xf067;" class="fas"></Span>
                  <Span text=" 20min"></Span>
                </FormattedString>
              </Label>
            </FlexboxLayout>
            <FlexboxLayout (tap)="setTimeOrder(30)" alignItems="center" height="40" margin="0" class="details-bt" *ngIf="!readyDate">
              <Label>
                <FormattedString>
                  <Span text="&#xf067;" class="fas"></Span>
                  <Span text=" 30min"></Span>
                </FormattedString>
              </Label>
            </FlexboxLayout>

            <FlexboxLayout (tap)="plusMinutes()" alignItems="center" height="40" margin="0" class="details-bt" *ngIf="!readyDate">
              <Label>
                <FormattedString>
                  <Span text="&#xf067;" class="fas"></Span>
                </FormattedString>
              </Label>
            </FlexboxLayout>
          </FlexboxLayout>


          <FlexboxLayout flexDirection="row">
            <FlexboxLayout class="w-100" alignItems="center" justifyContent="center" *ngIf="creatingOrder">
              <ActivityIndicator busy="true"></ActivityIndicator>
            </FlexboxLayout>
            <Button (tap)="submit()" class="submit-btn w-100" *ngIf="!creatingOrder">
              <FormattedString>
                <Span text="Utwórz zamówienie "></Span>
                <Span text="&#xf59d;" class="fas"></Span>
              </FormattedString>
            </Button>
          </FlexboxLayout>
        </FlexboxLayout>
      </StackLayout>
    </GridLayout>
  </StackLayout>
</RadSideDrawer>