Button.remove {
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent;
    color: #FFFFFF;
}

Label.nameLabel {
    font-size: 16;
}

Label.qua-label {
    font-size: 16;
}

FlexboxLayout.element-step-many {
    border-bottom-width: 1;
    border-bottom-color: #D7C5AB;
    border-right-width: 1;
    border-right-color: #D7C5AB;
}