<!-- <GridLayout rows="*,*,40"
            *ngFor="let item of element.priceNames; let i = index"
            width="50%" class="p-10 grid-ele">
  <Label [text]="item.name | stripTags" class="htmlLabel" width="100%" textWrap="true" row="0"></Label>
  <FlexboxLayout flexDirection="row" row="1">
    <Label [text]="item.price[0].price + ' pln'" class="red-price"></Label>
    <Image src="~/images/krewetka.png" *ngIf="item.price[0].isSea" width="25" class="image-elems" loadMode="async">
    </Image>
  </FlexboxLayout>
  <Button class="add-cart-bt" (tap)="addToCart(i)"
          height="40" width="100%" row="2">
    <FormattedString>
      <Span text="&#xf217;" class="fas"></Span>
    </FormattedString>
  </Button>
</GridLayout> -->


<FlexboxLayout rows="*,*,40"
               flexDirection="column"
               justifyContent="space-between"
               *ngFor="let item of element.priceNames; let i = index"
               width="50%" class="p-10 flex-ele">
  <FlexboxLayout flexDirection="column">
    <Label [text]="item.name | stripTags" class="htmlLabel" width="100%" textWrap="true"></Label>
    <FlexboxLayout flexDirection="row">
      <Label [text]="item.price[0].price + ' pln'" class="red-price"></Label>
      <Image src="~/images/krewetka.png" *ngIf="item.price[0].isSea" width="25" class="image-elems" loadMode="async">
      </Image>
    </FlexboxLayout>
  </FlexboxLayout>

  <Button class="add-cart-bt" (tap)="addToCart(i)"
          height="40" width="100%">
    <FormattedString>
      <Span text="&#xf217;" class="fas"></Span>
    </FormattedString>
  </Button>
</FlexboxLayout>