<GridLayout rows="*,*,*"
            *ngFor="let item of element.priceNames; let i = index"
            width="50%" class="p-10 grid-ele">
  <Label [text]="item.name | stripTags" class="htmlLabel" width="100%" textWrap="true" row="0"></Label>
  <FlexboxLayout flexDirection="row" row="1">
    <Label [text]="item.price[0].price + ' pln'" class="red-price"></Label>
    <Image src="~/images/krewetka.png" *ngIf="item.price[0].isSea" width="25" class="image-elems" loadMode="async">
    </Image>
  </FlexboxLayout>
  <FlexboxLayout flexDirection="row" justifyContent="flex-start" row="2">
    <Button class="add-cart-bt" (tap)="addToCart(i)"
            height="40" width="100%">
      <FormattedString>
        <Span text="&#xf217;" class="fas"></Span>
      </FormattedString>
    </Button>
  </FlexboxLayout>
</GridLayout>