TextField {
    placeholder-color: #ffffff;
    color: #ffffff;
    border-color: #ffffff;
    font-size: 16;
}

TextField.ng-valid {
    margin-bottom: 2;
}

TextField.ng-invalid {
    margin-bottom: 2;
}

TextField.auth-fail {
    border-color: #ff0000;
}

Button {
    width: 50%;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #504426 !important;
    color: #ffffff;
    height: 40;
    font-size: 14;
}



FlexboxLayout.code-string {
    color: #ffffff;
    font-size: 26;
    color: #ff0000;
    border-width: 1;
    border-color: #ffffff;
}