<FlexboxLayout flexDirection="column" alignItems="center" justifyContent="center" [formGroup]="formP">

    <FlexboxLayout flexDirection="row" justifyContent="center" alignContent="center" class="code-string p-15" *ngIf="type==confirmPasswordType.imageCode">
        <Label [text]="randomCode"></Label>
    </FlexboxLayout>

    <FlexboxLayout flexDirection="row" justifyContent="center" alignContent="center">
        <TextField
                   *ngIf="type==confirmPasswordType.backend"
                   width="300"
                   hint="*****"
                   secure="true"
                   autocapitalizationType="none"
                   formControlName="password">
        </TextField>
        <TextField
                   *ngIf="type==confirmPasswordType.imageCode"
                   [ngClass]="{'auth-fail': formP.get('password').errors?.authfail}"
                   width="300"
                   hint="wpisz tekst"
                   autocapitalizationType="none"
                   formControlName="password">
        </TextField>
    </FlexboxLayout>
    <FlexboxLayout flexDirection="row" justifyContent="center" alignContent="center">
        <Button (tap)="confirmPassword()" *ngIf="type==confirmPasswordType.backend">
            <FormattedString>
                <Span text="&#xf084;" class="fas"></Span>
                <Span text=" Akceptuj"></Span>
            </FormattedString>
        </Button>
        <Button (tap)="confirmImageCode()" *ngIf="type==confirmPasswordType.imageCode">
            <FormattedString>
                <Span text="&#xf084;" class="fas"></Span>
                <Span text="Akceptuj"></Span>
            </FormattedString>
        </Button>
        <Button type="button" (tap)="cancel()">
            <FormattedString>
                <Span text="Anuluj"></Span>
            </FormattedString>
        </Button>
    </FlexboxLayout>

</FlexboxLayout>