FlexboxLayout.bts-row {
    background-color: #000000;
}

Button.bt {
    background-color: #504426;
    background-color: #D7C5AB;
    margin: 0 10 0 0 !important;
    // padding: 0 !important;
    border-radius: 0;
    color: #000000;
}