Button.button-option {
    margin: 0 !important;
    padding: 0 10 0 10 !important;
    color: #ffffff;
    background-color: #4e412c;
}

Button.button-option.active {
    margin: 0 !important;
    padding: 0 10 0 10 !important;
    color: #000000;
    background-color: #c9b087;
}

Button.plus-bt {
    margin: 0 !important;
    padding: 0 10 0 10 !important;
    color: #ffffff;
    background-color: #4e412c;
}