FlexboxLayout.acc-element {
    font-size: 14;
    color: #ffffff;
    padding-left: 5;
    padding-right: 5;
}

Label.qua-bt {
    font-size: 20;
}

Label.extra-cloud {
    background-color: #ffffff;
    color: #000000;
    border-radius: 50;
    height: 26;
    padding-left: 5;
    padding-right: 5;
    width: auto;
    margin-left: 5;
}