FlexboxLayout.open-title {
    background-color: #504426 !important;
    color: #ffffff;

    Label {
        font-size: 18;
    }
}

Button.btn-add {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #504426 !important;
    color: #ffffff;
}

HtmlView.htmlLabel {
    font-size: 14;
}