WrapLayout.margin-top-10 {
    margin-top: 10;
}

FlexboxLayout.row-config-options {
    // border-right-width: 1;
    // border-right-color: #ffffff;
    // border-bottom-width: 1;
    // border-bottom-color: #ffffff;
    background-color: #000000;
    color: #ffffff;
    margin-top: 10;
}

FlexboxLayout.element-step-option {
    border-right-width: 1;
    border-right-color: #ffffff;
    border-bottom-width: 1;
    border-bottom-color: #ffffff;
    background-color: #000000;

    Label {
        color: #ffffff;
    }

    FlexboxLayout.remove-step {
        Label {
            color: #ffffff;
            font-size: 14;
        }
    }

    FlexboxLayout.remove {
        Label {
            color: #ffffff;
            font-size: 14;
        }
    }

}